<h1>
  🍹 TODO
</h1>

<h1>🍊 Summary: {{allTodos.length}}
  <div *ngIf="allTodos.length <= 1; else elseBlock">item</div>
  <ng-template #elseBlock>items</ng-template> left to do!
</h1>

<h1>🍱 What would you like to do today?</h1>

<!-- Search box -->
<div class="margin-bottom">
  <form (ngSubmit)="onSubmit()">
    <div class="input-group input-group-lg">
      <span class="input-group-text" id="inputGroup-sizing-lg">Auto-Search</span>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
        [formControl]="searchControl" id="search" name="search">
    </div>
  </form>
</div>

<!-- show todo -->
<h1 *ngIf="loading">Loading...</h1>
<div *ngIf="!loading && !emptyData">
  <div *ngFor="let item of allTodos$ | async; let indexOfElement=index" class="todo-item margin-top"
style="display: flex; justify-content: space-between;       align-items: flex-start;">

  <!-- {{item.description}} -->
  <app-todo-item [item]="item" [index]="indexOfElement"></app-todo-item>
  <div [appStatusIndicator]="item.status" style="width: 20px; height: 20px;">
  </div>
  </div>
</div>

<!-- no data  -->
<div *ngIf="!loading && emptyData">
  <p>No todos found.</p>
</div>

<!-- add todo -->
<div>
  <h1>
    <a routerLink="/add-todo" routerLinkActive="active" class="btn btn-lg active" role="button" aria-pressed="true"
      [ngStyle]="{'font-size': '32px'}">
      🍓 Add todo
    </a>
  </h1>
</div>