.todo-detail {
  max-width: 600px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-detail h2 {
  text-align: center;
  color: #333;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.todo-detail h3 {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 10px;
}
