<div class="mb-3">
<b><a [title]="item.description+'detail'" [routerLink]="['/todo_item', item.id]"
    class="text-dark">{{item.description}}</a></b>

is <b>{{item.status}}</b>.
<ng-container *ngIf="item.dueDate">
  Due on {{item.dueDate.getDate()}}/{{item.dueDate.getMonth() + 1}}/{{item.dueDate.getFullYear()}}. <b>{{item.priority |
    prioTrans}}</b> priority.
</ng-container>

<!-- buttons delete -->
<a class="btn btn-sm active left-spacing" role="button" aria-pressed="true" (click)="deleteItem()">
  Delete
</a>

<!-- buttons edit -->
<a class="btn btn-sm active left-spacing" role="button" aria-pressed="true" (click)="startEdit()">Edit</a>
</div>

<div *ngIf="index==this.todoService.editIndex">
  <form (ngSubmit)="finishEdit(description)">
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Edit Item</span>
      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
        [(ngModel)]="description" placeholder="{{item.description}}" required id="editItemInput" name="editItemInput">
      <div class="input-group-append">
        <button class="btn btn-sm active margin-left " type="submit">Save</button>
      </div>
    </div>
  </form>
</div>