<!-- message -->

<a [title]="item.description+'detail'" [routerLink]="['/todo_item', item.id]">{{item.description}}</a>

is {{item.status}}.
<ng-container *ngIf="item.dueDate">
  Due on {{item.dueDate.getDate()}}/{{item.dueDate.getMonth() + 1}}/{{item.dueDate.getFullYear()}}
</ng-container>

<!-- buttons delete -->
<button (click)="deleteItem()">Delete</button>

<!-- buttons edit -->
<button (click)="startEdit()">Edit</button>
<div *ngIf="index==this.todoService.editIndex ">
  <label for="editItemInput">Edit Item:</label>
  <input type="text" [value]="this.todoService.editDescription" placeholder="{{item.description}}" #description required>
  <button (click)="finishEdit(description.value)">Save</button>
</div>