
<h1>🍩 My To Do List</h1>
<h1>🍱 What would you like to do today?</h1>

<h2>🐸 {{allItems.length}}
  <div *ngIf="allItems.length <= 1; else elseBlock">item</div>
  <ng-template #elseBlock>items</ng-template>
  left to do!
</h2>

<!-- show todo -->
<ul>
  <li *ngFor="let item of allItems; let indexOfElement=index ">
    <app-todo-item [item]="item" [index]="indexOfElement" (deleteItemEvent)="deleteItem($event)"
      (startEditEvent)="startEdit($event)" (finishEditEvent)="finishEdit($event)"></app-todo-item>
  </li>
</ul>

<!-- add todo -->
<div>
  <label for="addItemInput">What would you like to do today?</label>
  <br />
  <input type="text" [(ngModel)]="newDescription" placeholder="Add a new item" #myInput id="addItemInput">
  <button (click)="addItem(myInput.value)">Add</button>
</div>

<!-- Router Outlet -->
<router-outlet></router-outlet>
