
<h1>My To Do List</h1>
<h1>What would you like to do today?</h1>

<!-- show todo -->
<ul>
  <li *ngFor="let item of allItems; let indexOfElement=index ">
    {{item.description}} is {{item.status}}. Due on
    {{item.dueDate?.getDate()}}/{{item.dueDate?.getMonth()}}/{{item.dueDate?.getFullYear()}}
    <button (click)="deleteItem(indexOfElement)">Delete</button>
    <button (click)="startEdit(indexOfElement)">Edit</button>
    <div *ngIf="inEdit && indexOfElement==editIndex">
      <label for="editItemInput">Edit Item</label>
      <input type="text" [(ngModel)]="editDescription" placeholder="Edit an item" #myEditInput id="editItemInput">
      <button (click)="editItem(myEditInput.value)">Save</button>
    </div>
  
  
  </li>
</ul>

<!-- add todo -->
<div>
  <label for="addItemInput">What would you like to do today?</label>
  <br />
  <input type="text" [(ngModel)]="newDescription" placeholder="Add a new item" #myInput id="addItemInput">
  <button (click)="addItem(myInput.value)">Add</button>
</div>

<!-- Router Outlet -->
<router-outlet></router-outlet>
