<div class="not-found-container">
  <h2>Feature page</h2>
  <div class="features">
    <h2>🚀 Angular Features Used in This Site:</h2>
    <ul>
      <li>✅ Components</li>
      <li>✅ Services and Dependency Injection</li>
      <li>✅ Directives</li>
      <li>✅ Property Binding</li>
      <li>✅ Event Binding</li>
      <li>✅ Template-driven Forms</li>
      <li>✅ Observables</li>
      <li>✅ Routing/Guards</li>
      <li>✅ Log Simulation with observables</li>
      <li>✅ Reactive Forms</li>
      <!-- Add more features here -->
    </ul>
    <h2>🐡 Future Angular Features in This Site:</h2>
    <ul>
      <li>🔲 Custom Pipes</li>
      <li>🔲 Custom Directives</li>
      <li>🔲 HTTP Client</li>
      <li>🔲 Unit Testing</li>
      <li>🔲 End-to-End Testing</li>
      <li>🔲 Animations</li>
      <li>🔲 PWA</li>
      <li>🔲 Service Workers</li>
      <li>🔲 Server-side Rendering</li>
      <!-- Add more features here -->
    </ul>
  </div>
  <a routerLink="/">🏠 Back to Home</a>
</div>