<div class="not-found-container showBoader-red">
  <div class="features showBoader-green">
    <h2>🚀 Angular Features Used</h2>
    <ul>
      <li>✅ Components</li>
      <li>✅ Services and Dependency Injection</li>
      <li>✅ Directives</li>
      <li>✅ Property Binding</li>
      <li>✅ Event Binding</li>
      <li>✅ Custom Pipes</li>
      <li>✅ Template-driven Forms</li>
      <li>✅ Observables</li>
      <li>✅ Routing/Guards</li>
      <li>✅ Log Simulation with observables</li>
      <li>✅ Reactive Forms</li>
      <li>✅ Custom Directives</li>
      <!-- Add more features here -->
    </ul>
    <h2>🐡 Future Angular Features</h2>
    <ul>
      
      <li>🔲 HTTP Client</li>
      <li>🔲 Unit Testing</li>
      <li>🔲 End-to-End Testing</li>
      <li>🔲 Animations</li>
      <li>🔲 PWA</li>
      <li>🔲 Service Workers</li>
      <li>🔲 Server-side Rendering</li>
      <!-- Add more features here -->
    </ul>
  </div>
  <a routerLink="/">🏠 Back to Home</a>
</div>