<h1>🍹 Add Form ↙️</h1>
<h1>🐸 Summary: {{this.todoService.allItems.length}}
  <div *ngIf="this.todoService.allItems.length <= 1; else elseBlock">item</div>
  <ng-template #elseBlock>items</ng-template>
  left to do!
</h1>
<form>
  <fieldset>
    <legend>Add Todos below</legend>
    <input type="text" [(ngModel)]="newDescription" placeholder="Add a new item" name="newDesc" #myInput id="addItemInput">
    <div>
      <button (click)="addItem(myInput.value)">Add</button>
    </div>
  </fieldset>
</form>

<h1><a routerLink="/" routerLinkActive="active"><button [ngStyle]="{'font-size': '32px', 'padding': '10px 20px'}">🥭
      Back to the main page</button></a></h1>