
<div [ngStyle]="{'font-size': '36px'}">
  🍹 Add Form
</div>

<h1>🍊 Summary: {{(todos | async)!.length}}
  <div *ngIf="(todos | async)!.length <= 1; else elseBlock">item</div>
  <ng-template #elseBlock>
    items
  </ng-template>
  left to do!
</h1>

<div class="row">
  <form (ngSubmit)="addItem()">
    <div class="input-group mb-3">
    
      <span class="input-group-text" id="inputGroup-sizing-default">Add Item</span>
      <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
      placeholder="Buy Milk" 
      required 
      id="editItemInput" 
      name="editItemInput"
      [formControl]="reactiveItem"
      >

      <div class="input-group-append">
        <button class="btn active margin-left " type="submit" [disabled]="!reactiveItem.value">Add</button>
        </div>
      </div>
      </form>
</div>
  <div class="col-6">
  <a routerLink="/" routerLinkActive="active" class="btn btn-lg active" role="button" aria-pressed="true"
    [ngStyle]="{'font-size': '32px'}">
    🥭 Back to the list page
  </a>
</div>